/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/public/build
/public/fonts
Homestead.json
Homestead.yaml
.env
/resources/assets/node_modules
/resources/assets/element-variables.css
/resources/assets/theme
/public/css
/public/js
